<div class="bg">
    <div class="container">
        <mat-card>
            <img src="assets/logo.png" style="width: 200px;" *ngIf="!isMain()">
            <h1 style="text-align: center;">About Anime Club</h1>
            <div>
                <p>
                    Anime Club was found by a gruop of people who love Japan anime culture since 2013. Our aim is to
                    provide a place for anime lovers to meet and share their thoughts about anime culture with each
                    others.
                </p>
                <p>
                    Our club organize many events every year for both our club members and schoolmates.
                </p>
            </div>
        </mat-card>
    </div>

    <app-members></app-members>

</div>