<div class="main-body">
    <div class="logo-box">
        <img src="/assets/logo.png" class="logo">
        <div>
            <h1 class="title">Welcome to <span class="club-name">Anime Club</span>!</h1>
            <p>
                We are a group of people who love Japan anime culture.
            </p>
        </div>
        
    </div>
    <div class="main-content">
        <!-- Event Review -->
        <div class="review">
            <h1 class="align-center">Events Review</h1>
            <div class="view-box-container">
                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Anime Appreciation</mat-card-title>
                    </mat-card-header>
                    <!-- Insert image of event below -->
                    <img mat-card-image src="/assets/event-review/AnimeAppreciation.png" alt="Event photo">
                    <mat-card-content>
                        <p>
                            We watch anime together and share our thoughts afterward.
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Anime Exhibtion</mat-card-title>
                    </mat-card-header>
                    <!-- Insert image of event below -->
                    <img mat-card-image src="/assets/event-review/AnimeAppreciation.png" alt="Event photo">
                    <mat-card-content>
                        <p>
                            We will share our collections related to anime and comic to all students regularly.
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Field trip to Japan</mat-card-title>
                    </mat-card-header>
                    <!-- Insert image of event below -->
                    <img mat-card-image src="/assets/event-review/AnimeAppreciation.png" alt="Event photo">
                    <mat-card-content>
                        <p>
                            We travel to Japan with our club members every two years.
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Learn more</mat-card-title>
                    </mat-card-header>
                    <!-- Insert image of event below -->
                    <img mat-card-image src="/assets/event-review/AnimeAppreciation.png" alt="Event photo">
                    <mat-card-content>
                        <p>
                            Click here to see more our events!
                        </p>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>

        <!-- Upcoming Events -->
        <div class="review">
            <h1 class="align-center">Upcoming Events</h1>
            
            <div class="view-box-container">
                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Anime Appreciation</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table>
                            <tr>
                                <td>Date: </td><td>2021/01/15</td>
                            </tr>
                            <tr>
                                <td>Time: </td><td>12:45pm - 1:25pm</td>
                            </tr>
                            <tr>
                                <td>Venue: </td><td>Anime Club club room</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Anime Exhibtion</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table>
                            <tr>
                                <td>Date: </td><td>2021/03/10</td>
                            </tr>
                            <tr>
                                <td>Time: </td><td>9:00am - 5:30pm</td>
                            </tr>
                            <tr>
                                <td>Venue: </td><td>Anime Club club room</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Field trip to Japan</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table>
                            <tr>
                                <td>Date: </td><td>2021/06/30 - 2021/07/06</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Learn more</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Click here to see more our events!
                        </p>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
        
        <app-apply></app-apply>
    </div>
</div>

