<div class="main-body bg">
    <mat-card class="logo-box">
        <img src="assets/logo.png" class="logo box bounce-7">
        <div>
            <h1 class="title">Welcome to <span class="club-name">Anime Club</span>!</h1>
            <p>
                We are a group of people who love Japan anime culture.
            </p>
        </div>
    </mat-card>
    <div class="main-content">
        <!-- Event Review -->
        <app-review></app-review>

        <!-- Upcoming Events -->
        <div class="review">
            <mat-card>
                <h1>Upcoming Events</h1>
            </mat-card>
            
            <div class="view-box-container">
                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Anime Appreciation</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table>
                            <tr>
                                <td>Date: </td><td>2021/01/15</td>
                            </tr>
                            <tr>
                                <td>Time: </td><td>12:45pm - 1:25pm</td>
                            </tr>
                            <tr>
                                <td>Venue: </td><td>Anime Club club room</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Anime Exhibtion</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table>
                            <tr>
                                <td>Date: </td><td>2021/03/10</td>
                            </tr>
                            <tr>
                                <td>Time: </td><td>9:00am - 5:30pm</td>
                            </tr>
                            <tr>
                                <td>Venue: </td><td>Anime Club club room</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>Field trip to Japan</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table>
                            <tr>
                                <td>Date: </td><td>2021/06/30 - 2021/07/06</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card class="view-box">
                    <mat-card-header>
                        <mat-card-title>I am interested!</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Please contact our club members for more information. See <a (click)="scroll(contact)" class="link link-color">Contact</a>
                        </p>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
        
        <app-recommendation></app-recommendation>

        <div class="margin-bottom ext-site">
            <mat-card>
                <h1>External site recommendation</h1>
                <div>
                    <table>
                        <tr>
                            <td>
                                <a mat-button href="https://phate.io" target="_blank">Phate Radio <mat-icon>launch</mat-icon></a>
                            </td>
                            <td>
                                Phate Radio is a online radio for playing anime songs with song ordering and queuing.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a mat-button href="https://zh.moegirl.org.cn" target="_blank">moegirl Wiki <mat-icon>launch</mat-icon></a>
                            </td>
                            <td>
                                moegirl is a wiki for sharing anime information.
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-card>
        </div>

        <app-about></app-about>

        <app-apply></app-apply>

        <app-contact></app-contact>
        <!-- For scroll-to-end -->
        <div #contact></div>
    </div>
</div>

