.main-body {
    background-color: rgb(229, 218, 247);
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}



.align-center {
    text-align: center;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 250px;
    height: auto;
}

.club-name {
    color: rgb(0, 132, 255);
}

.main-content {
    display: block;
}

.review {
    padding-bottom: 30px;
}

.view-box-container {
    display: flex;
    overflow-x: auto;
}

.view-box {
    max-width: 250px;
    min-width: 220px;
    margin: 5px;
}

