<div style="margin-top: 50px;" class="bg">
    <h1 style="text-align: center;">Our club Members</h1>
    <div class="container">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Chan Lok Man</mat-card-title>
                <mat-card-subtitle>Club Leader</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/members/placeholder.png">
            <mat-card-content *ngIf="!isMain()">

            </mat-card-content>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Reinforce Zwei</mat-card-title>
                <mat-card-subtitle>Vice-leader</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/members/reinforce.png">
            <mat-card-content *ngIf="!isMain()">
                <p>
                    I like programming and watching anime!
                </p>
                <p>
                    My favorite anime is Cardcaptor Sakura.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Chueng Men Kit</mat-card-title>
                <mat-card-subtitle>Member</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/members/placeholder.png">
            <mat-card-content *ngIf="!isMain()">
                
            </mat-card-content>
        </mat-card>

        <!-- See more (Main page only) -->
        <mat-card class="card" *ngIf="isMain()">
            <mat-card-header>
                <mat-card-title>See more</mat-card-title>
            </mat-card-header>
            <a routerLink="/about"><img mat-card-image src="/assets/members/placeholder.png"></a>
        </mat-card>

        <span *ngIf="!isMain()">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Yuen Sum Wai</mat-card-title>
                    <mat-card-subtitle>Member</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/members/placeholder.png">
                <mat-card-content *ngIf="!isMain()">
                    
                </mat-card-content>
            </mat-card>
        </span>
    </div>
</div>