.card {
    min-width: 200px;
    max-width: 300px;
    margin: 5px;
    height: min-content;
    padding: 5px;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

mat-card-subtitle {
    margin-bottom: 0 !important;
}