<div style="margin-top: 50px;" class="bg">
    <mat-card>
        <h1 style="text-align: center;">Our club Members</h1>
        <mat-hint>Click to see their words</mat-hint>
    </mat-card>
    
    <div class="container">
        <ng-container *ngFor="let member of members">
            <mat-expansion-panel hideToggle class="card">
                <mat-expansion-panel-header>
                    <mat-card-header>
                        <img mat-card-avatar [src]="member.avatar">
                        <mat-card-title>{{member.name}}</mat-card-title>
                        <mat-card-subtitle>{{member.position}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-expansion-panel-header>
                <p>
                    {{member.words}}
                </p>
            </mat-expansion-panel>
        </ng-container>
    </div>
</div>